<div class="container">
<p>user-settings-form works!</p>
<form #form="ngForm" ngNativeValidate>
  <div class="form-group">
  <label for="title">Title</label>
  <input id="title" name="title" pattern="B.*" placeholder="Mr, Mrs .." [(ngModel)]="usersetting.title" class="form-control">
  </div>
  <div class="form-group">
    <label for="firstname">Firstname</label>
    <input id="firstname" minlength="3" name="firstname" [(ngModel)]="usersetting.firstname"  class="form-control">
    </div> 
    <div class="form-group">
      <label for="lastname">Lastname</label>
      <input id="lastname"#firstnameRef minlength="3" name="lastname" [(ngModel)]="usersetting.lastname" class="form-control">
      <h4>{{firstnameRef.className}}</h4>
      </div> 
      <div class="form-check form-group">
        
        <input id="married" type="checkbox" name="married" [(ngModel)]="usersetting.married" class="form-check-input">
        <label class="form-check-label" for="married">Married</label>
        </div> 
        <p>favourite color</p>
        <div class="form-check form-group">
         
          <input id="redfav" type="radio" required value="red" name="fav" [(ngModel)]="usersetting.fav" class="form-check-input">
          <label class="form-check-label" for="redfav">red</label>
          </div> 
          <div class="form-check form-group">
            
            <input id="yellowfav" type="radio" value="yellow" name="fav" [(ngModel)]="usersetting.fav" class="form-check-input">
            <label class="form-check-label" for="yellowfav">yellow</label>
            </div> 
            <div class="form-check form-group">
              <input id="greenfav" type="radio" value="green" name="fav" [(ngModel)]="usersetting.fav" class="form-check-input">
              <label class="form-check-label" for="greenfav">green</label>  
            </div> 
        <div class="form-group">
<label for="interest">Interest in</label>
<select name="interest" class="form-control" id="interest" [(ngModel)]="usersetting.interest"  >
  <option>one</option> 
  <option>two</option> 
</select>
        </div>
  <button class="btn btn-primary">ok</button> 
</form>
</div>

{{ originalusersetting | json }}